{% extends 'base_main.html' %}


{% load static %}

{% block title %}
    {{ block.super }}
    我的
{% endblock %}


{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/main/mine/css/mine.css' %}">
{% endblock %}


{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'axf/user/js/user.js' %}"></script>
{% endblock %}


{% block content %}
    {{ block.super }}

    <div id="mine">
        <div class="fixed">

            {% if user.id %}
                    <span>
                        <img src="/static/upload/{{ user.icon }}" alt="">
                    </span>
                {% else %}
                    <span class="glyphicon glyphicon-user"></span>
            {% endif %}



            {% if user.id %}
                    <p>{{ user.name }}</p>
                {% else %}
                    <p id="login">未登录</p>
            {% endif %}

            <p>
                <span class="glyphicon glyphicon-fire"></span>
                <span>等级</span>
            </p>


            <p>
                <span class="glyphicon glyphicon-heart"></span>
                商品收藏
            </p>
        </div>

        {% if user.id %}
            <div></div>
            {% else %}
            <div id="regis">注册</div>
        {% endif %}


        <div class="mine">
            <p>
                <span>全部订单</span>
                <a href="">全部订单></a>
            </p>

            <div id="nav">
                <ul>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-usd"></span>
                            </dt>
                            <dd>待付款</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-envelope"></span>
                            </dt>
                            <dd>待收货</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-pencil"></span>
                            </dt>
                            <dd>待评价</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-retweet"></span>
                            </dt>
                            <dd>退款/售后</dd>
                        </dl>
                    </li>
                </ul>
            </div>


            <menu>
                <ul>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-bullhorn"></span>
                            </dt>
                            <dd>积分商城</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-credit-card"></span>
                            </dt>
                            <dd>优惠券</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-import"></span>
                            </dt>
                            <dd>收获地址</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-phone-alt"></span>
                            </dt>
                            <dd>客服反馈</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-certificate"></span>
                            </dt>
                            <dd>关于我们</dd>
                        </dl>
                    </li>
                </ul>

            </menu>

            {% if user.id %}
                <p>
                    <a href="{% url 'axfuser:logout' %}">退出</a>
                </p>
            {% endif %}

        </div>






    </div>


{% endblock %}