{% extends 'base.html' %}

{% load static %}


{% block ext_css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'axf/main/css/main.css' %}">
{% endblock %}



{% block header %}
    {{ block.super }}
    <header></header>
{% endblock %}



{% block footer %}
    {{ block.super }}

    <footer>
        <a href="{% url 'axfhome:home' %}">
            <dl class="home">
                <dt>
                    <span></span>
                </dt>
                <dd>首页</dd>
            </dl>
        </a>
        <a href="{% url 'axfmarket:market' %}">
                <dl class="market">
                    <dt>
                        <span></span>
                    </dt>
                    <dd>闪购</dd>
                </dl>
            </a>
        <a href="{% url 'axfcart:cart' %}">
                <dl class="cart">
                    <dt>
                        <span></span>
                    </dt>
                    <dd>购物车</dd>
                </dl>
            </a>
        <a href="{% url 'axfmine:mine' %}">
                <dl class="mine">
                    <dt>
                        <span></span>
                    </dt>
                    <dd>我的</dd>
                </dl>
        </a>

    </footer>


{% endblock %}